Options +FollowSymLinks
Options All -Indexes

#ErrorDocument 404 /index.php?url=nao-existe
#ErrorDocument 403 /index.php?url=nao-existe

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteRule ^([A-Za-z0-9-]+)/?$ index.php?url=$1 [NC] 
    RewriteRule ^partidas/?([a-zA-Z0-9]*)?/?$ index.php?url=id-partida&id=$1 [NC]
    #RewriteRule ^(?!pages/)(.*)$ index.php?p=$1 [L]
</IfModule>

<Files ~ "^\.(htaccess|htpasswd)$">
    deny from all
</Files>

<IfModule mod_deflate.c>
    <FilesMatch "\.(js|css|jpg|png|gif|ico|php|html|htm|ttf)$">
        <ifModule mod_filter.c>
            SetOutputFilter DEFLATE
            AddOutputFilterByType DEFLATE text/css text/javascript application/x-javascript text/html text/plain text/xml image/x-icon font/opentype font/truetype font/eot
        </IfModule>
    </FilesMatch>
</IfModule>