@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
	margin: 0;
	font-family: Roboto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
::-webkit-scrollbar {
  	width: 5px;
  	height: 5px;
}
::-webkit-scrollbar-track {
  	background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  	background-color: #666; 
}
body{
	background-color: #101010;
	width: 100%;
	overflow-x: hidden;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: Main;
    src: url(/fonts/Main.ttf)
}
@font-face {
    font-family: Caligrafia;
    src: url(/fonts/caligrafia.ttf)
}
.header{
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
	height: 90px;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	position: fixed;
	text-transform: capitalize;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 0 2px 15px 2px rgba(0,0,0,.4);
	transition: .4s;
	background-color: #1b1b1b;
}
.header a{
	color: #646464;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 24px 0;
	box-sizing: border-box;
	flex-grow: 1;
	height: 100%;
	font: 300 16px Roboto;
	letter-spacing: -1px;
	text-decoration: none;
	transition: border .2s, background-color .4s;
}
.header a:hover{
	background-color: #141414;
	color: #fff;
}
.header a:last-child{
	border-right: none;
}
.header a:first-child{
	cursor: default;
	max-width: 280px;
	min-width: 280px;
}
.header a:first-child:hover{
	background-color: #141414;
}
.header .img{
	cursor: pointer;
	position: absolute;
	bottom: -40px;
	width: 120px;
	height: 115px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/sistema/logo.png");
	transition: .4s;
}
.header .active{
	border-bottom: 4px solid #e2aa00;
	padding: 20px 0;
}
.small{
	height: 70px;
}
.small .img{
	bottom: -35px;
	width: 100px;
	height: 95px;
}
.content{
	width: 100vw;
	min-height: calc(100vh - 70px);
	animation: fadeUp .5s ease;
}
@keyframes fadeUp{
	from{opacity: 0;}
	to{opacity: 1;}
}
#loader{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(20,20,20,.96) 0%,
	rgba(20,20,20,.96) 100%), url(../../public/img/sistema/load.png);
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
	animation: fadeUp .5s ease;
}
@keyframes fadeUp{
	from{opacity: 0;}
	to{opacity: 1;}
}
#loader label{
	font: 300 16px Roboto;
	margin-top: 10px;
	color: #cfcfcf;
}
.loader{
    border: 8px solid #cfcfcf; /* Light grey */
    border-top: 8px solid #e2aa00; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.footer{
	background-color: #000;
	width: 100%;
	height: 80px;
	color: #D7D7D7;
	display: flex;
	text-align: center;
	overflow: hidden;
}
.footer_body{
	width: 50%;
}
a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."]{
	display: none;
}
tr:nth-child(odd){
	background-color: rgba(255,255,255,.05);
}
@media screen and (max-width:1025px) {
	.header a:nth-child(n+2){
		display: none;
	}
	.header a:first-child .img{
		bottom: -15px;
		width: 100px;
		height: 95px;
	}
	.header a:first-child{
		min-width: 100%;
	}
	.header a:first-child:hover{
		background-color: #1b1b1b;
	}
	.small a:first-child .img{
		bottom: -25px;
		width: 90px;
		height: 85px;
	}
}