@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{
	margin: 0;
	font-family: Roboto;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
::-webkit-scrollbar {
  	width: 5px;
  	height: 5px;
}
::-webkit-scrollbar-track {
  	background-color: #ddd;
}
::-webkit-scrollbar-thumb {
  	background-color: #666; 
}
body{
	background-color: #101010;
	width: 100%;
	overflow-x: hidden;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@font-face {
    font-family: Main;
    src: url(/fonts/Main.ttf)
}
@font-face {
    font-family: Caligrafia;
    src: url(/fonts/caligrafia.ttf)
}
.header{
	-webkit-user-select: none;
	user-select: none;
	width: 100%;
	height: 90px;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	position: fixed;
	text-transform: capitalize;
	top: 0;
	left: 0;
	z-index: 99;
	box-shadow: 0 2px 15px 2px rgba(0,0,0,.4);
	transition: .4s;
	background-color: #1b1b1b;
}
.header a{
	color: #646464;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding: 24px 0;
	box-sizing: border-box;
	flex-grow: 1;
	height: 100%;
	font: 300 16px Roboto;
	letter-spacing: -1px;
	text-decoration: none;
	transition: border .2s, background-color .4s;
}
.header a:hover{
	background-color: #141414;
	color: #fff;
}
.header a:last-child{
	border-right: none;
}
.header a:first-child{
	cursor: default;
	max-width: 280px;
	min-width: 280px;
}
.header a:first-child:hover{
	background-color: #141414;
}
.header .img{
	cursor: pointer;
	position: absolute;
	bottom: -40px;
	width: 120px;
	height: 115px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../img/sistema/logo.png");
	transition: .4s;
}
.header .active{
	border-bottom: 4px solid #e2aa00;
	padding: 20px 0;
}
.small{
	height: 70px;
}
.small .img{
	bottom: -35px;
	width: 100px;
	height: 95px;
}
.content{
	width: 100vw;
	min-height: calc(100vh - 70px);
	animation: fadeUp .5s ease;
}
@keyframes fadeUp{
	from{opacity: 0;}
	to{opacity: 1;}
}
#loader{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: linear-gradient(to bottom, rgba(20,20,20,.96) 0%,
	rgba(20,20,20,.96) 100%), url(../../public/img/sistema/load.png);
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    user-select: none;
    -webkit-user-select: none;
	animation: fadeUp .5s ease;
}
@keyframes fadeUp{
	from{opacity: 0;}
	to{opacity: 1;}
}
#loader label{
	font: 300 16px Roboto;
	margin-top: 10px;
	color: #cfcfcf;
}
.loader{
    border: 8px solid #cfcfcf; /* Light grey */
    border-top: 8px solid #e2aa00; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.footer{
	background-color: #000;
	width: 100%;
	min-height: 240px;
	color: #D7D7D7;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding: 30px 6vw 10px 6vw;
	box-sizing: border-box;
}
.footer_body{
	min-height: 120px;
	width: 100%;
	display: flex;
}
.footer_block{
	margin: 0 20px;
	width: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	flex-grow: 1;
}
.footer form{
	width: 100%;
}
.footer_block label:first-child{
	font: 400 16px Roboto;
}
.footer_block label:nth-child(2){
	margin: 10px 0;
	font: 300 14px Roboto;
	color: rgba(255,255,255,.6);
}
.footer input[type='email']{
	width: 70%;
	box-sizing: border-box;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 3px;
}
.footer input[type='submit']{
	border-radius: 3px;
	background-color: #e2aa00;
	border: none;
	padding: 10px;
	box-sizing: border-box;
	width: 28%;
	cursor: pointer;
	color: #fff;
	font: 500 14px Roboto;
	outline: none;
	transition: .4s;
}
input[type='submit']:hover, .footer_block:nth-child(4) .button:hover{
	background-color: #cc9000;
}
.footer_block:nth-child(2){
	text-align: justify;
	//overflow: hidden;
}
.footer_block:nth-child(3){
	width: auto;
}
.footer_block:nth-child(4){
	width: auto;
}
.footer_block:nth-child(4) .button{
	margin-top: 10px;
	height: 60px;
	border-radius: 5px;
	background-color: #e2aa00;
	-webkit-user-select: none;
	user-select: none;
	font-size: 30px;
	cursor: pointer;
	transition: .4s;
}
.footer_block .media{
	margin: 10px 0;
	height: 60px;
	display: flex;
	position: relative;
	left: -3px;
}
.media .social{
	height: 100%;
	width: 60px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: grayscale(100%);
	transition: .4s;
}
.social:nth-child(1){
	background-image: url("../img/sistema/facebook.png");
}
.social:nth-child(2){
	background-image: url("../img/sistema/instagram.png");
}
.social:nth-child(3){
	background-image: url("../img/sistema/twitter.png");
}
.social:hover{
	cursor: pointer;
	filter: grayscale(0%);
}
.footer_copy{
	text-align: center;
	flex-grow: 1;
	margin-top: 10px;
	border-top: 1px solid #646464;
	padding-top: 20px;
}
a[title="Hosted on free web hosting 000webhost.com. Host your own website for FREE."]{
	display: none;
}
@media screen and (max-width:1025px) {
	.footer_block:nth-child(1), .footer_block:nth-child(3){
		display: none;
	}
	/*.header a:nth-child(n+2){
		display: none;
	}*/
	/*.header a:first-child .img{
		bottom: -15px;
		width: 100px;
		height: 95px;
	}
	.header a:first-child{
		min-width: 100%;
	}*/
	.header a:first-child:hover{
		background-color: #1b1b1b;
	}
	.small a:first-child .img{
		bottom: -25px;
		width: 90px;
		height: 85px;
	}
}