.match_header{
	margin-top: 70px;
	width: 100%;
	box-shadow: 0 2px 15px 2px rgba(0,0,0,.4);
	display: flex;
	box-sizing: border-box;
	padding: 60px 70px 30px 70px;
	flex-direction: column;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 40%;
}
.match_sport{
	width: 100%;
	color: #fff;
	font-size: 22px;
	padding: 10px 5px;
	box-sizing: border-box;
	border-bottom: 1px solid;
	border-color: rgba(255,255,255,.5);
	display: flex;
	position: relative;
}
.match_sport span:nth-child(1){
	font-weight: 500;
}
.match_sport span:nth-child(2){
	margin-left: 5px;
	font-weight: 300;
}
.match_sport span:nth-child(3){
	position: absolute;
	right: 5px;
	text-align: right;
	font-weight: 300;
	text-transform: capitalize;
}
.match_teams{
	padding: 25px 0;
	width: 100%;	
	display: flex;
	align-items: center;
}
.versus{
	flex-grow: 1;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
}
.team_a,.team_b{
	width: 44%;
	display: flex;
	justify-content: flex-end;
	transition: .4s;
	cursor: pointer;
}
.team_a:hover, .team_b:hover{
	opacity: .75;
}
.team_img{
	min-width: 140px;
	height: 140px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.team_name{
	color: #fff;
	font-weight: 300;
	font-size: 28px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	flex-grow: 1;
	text-transform: uppercase;
	margin-right: 30px;
}
.team_name:nth-child(2){
	margin-left: 30px;
	text-align: left;
}
.team_name span:last-child{
	margin-top: 10px;
	font-size: 22px;
	font-weight: 400;
}
.vitória,.derrota{
	text-transform: uppercase;
}
.derrota{
	color: #a65f46;
}
.vitória{
	color: #bea152;
}
.container_participant{
	display: flex;
	justify-content: center;
}
.participant_team_a, .participant_team_b{
	color: rgba(255,255,255,.8);
	font-weight: 300;
	font-size: 19px;
	width: 50%;
	box-sizing: border-box;
	padding: 20px 50px;
	text-align: center;
	border-top: 1px solid;
	border-color: rgba(255,255,255,.5);
}
.participant_team_a{
	border-right: 1px solid;
	border-color: rgba(255,255,255,.5);
}
.participant_team_a div, .participant_team_b div{
	padding: 8px 0;
}